# Environments
.env

# virtualenv
.venv/
venv/
ENV/

# IDE
.idea/
*.iml

# Python
__pycache__/
*.py[cod]
*$py.class

# OS
.DS_Store

# Mock MCP storage
mcp_storage/

# Secrets
client_secret.json

# Database
database.db

# JS and JSX files
*.js
*.jsx

# Markdown files
*.md
!README.md

# CSS files
*.css